$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1440px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1200px
);

$gutter: 30px;

$color-black: #262626;
$color-white: #EDEDED;
$color-red: #D73B3B;
$color-red-hover: #E94D4C;
$color-yellow: #E7E3CC;
$color-blue: #4363A0;
$color-blue-hover: #547AC2;
$color-gray: #C0C0C0;
$color-footer: #3D3D3D;
$color-footer-hover: #908A8A;
$color-transparent: rgba(0, 0, 0, 0);