.block4 {

    &__inner {
        position: relative;
    }
    &__text {
        padding: 60px 0 160px;
        max-width: 720px;
        letter-spacing: .01em;
        position: relative;
        z-index: 2;
    }
    &__img {
        position: absolute;
        right: 10px;
        top: 40px;
        z-index: 1;
    }

    @include media-breakpoint-only(lg)
    {
        &__text {
            padding: 45px 0 105px 36px;
            max-width: 575px;
        }
        &__img {
            height: 196px;
            right: 58px;
            top: 36px;
        }
    }
    @include media-breakpoint-between(sm, md)
    {
        &__text {
            padding: 185px 0 50px;
        }
        &__img {
            right: 0;
        }
    }
    @include media-breakpoint-only(xs)
    {
        &__text {
            padding: 123px 15px 90px;
        }
        &__img {
            right: 50%;
            top: 43px;
            width: 300px;
            margin: 0 -150px 0 0;
        }
    }
}