.block10 {
    padding: 245px 0 100px;

    &__inner {
        position: relative;
    }
    &__date {
        position: relative;
        z-index: 2;
    }
    &__block {
        padding: 228px 0 0 449px;
    }
    &__text {
        letter-spacing: .01em;
        margin: 0 0 55px;
        color: $color-gray;
    }
    &__title {
        font-weight: 400;
        font-size: 47px;
        line-height: 1;
        letter-spacing: .05em;
        text-transform: uppercase;
        color: $color-yellow;
        margin: 0 0 10px;
    }
    &__video {
        position: relative;
        display: inline-block;

        &-img {
            display: block;
        }
        &-btn {
            position: absolute;
            bottom: 0;
            right: -90px;
        }
    }
    &__score {
        position: absolute;
        bottom: 50px;
        right: 0;
    }
    &__img1 {
        position: absolute;
        top: 166px;
        left: -135px;
        z-index: 1;
    }
    &__img2 {
        position: absolute;
        left: 155px;
        top: 563px;
        z-index: 2;
    }
    &__img3 {
        position: absolute;
        top: -147px;
        right: 218px;
        z-index: 1;
    }
    &__img4 {
        position: absolute;
        top: -30px;
        right: 0;
        z-index: 2;
    }

    @include media-breakpoint-only(lg)
    {
        & {
            padding: 200px 0 100px;

            &__date {
                margin: 0 0 0 40px;
            }
            &__block {
                padding: 330px 35px 0 364px;
            }
            &__text {
                margin: 0 0 40px;
            }
            &__score {
                right: 32px;
            }
            &__img1 {
                top: 172px;
                left: -43px;
                width: 360px;
            }
            &__img2 {
                left: 140px;
                top: 575px;
                width: 160px;
            }
            &__img3 {
                top: -48px;
                right: 221px;
                width: 296px;
            }
            &__img4 {
                top: 50px;
                right: 33px;
                width: 300px;
            }
        }
    }
    @include media-breakpoint-between(sm, md)
    {
        & {
            padding: 100px 0;

            &__date {
                margin: 0 0 100px;
            }
            &__img1 {
                position: static;
                margin: auto;
                display: block;
            }
            &__img2 {
                display: none;
            }
            &__img3 {
                top: 650px;
                right: 42%;
                width: 250px;
            }
            &__img4 {
                top: 700px;
                left: 46%;
                width: 250px;
            }
            &__block {
                padding: 100px 0 0;
            }
        }
    }
    @include media-breakpoint-only(xs)
    {
        & {
            padding: 180px 0 0;

            &__inner {
                padding: 0 15px;
            }
            &__date {
                margin: 0 0 60px;
            }
            &__img1-block {
                height: 450px;
                overflow: hidden;
                margin: 0 -30px;
            }
            &__img1 {
                position: static;
                display: block;
                width: 100%;
            }
            &__img2 {
                display: none;
            }
            &__img3 {
                top: 445px;
                right: 42%;
                width: 177px;
            }
            &__img4 {
                top: 504px;
                left: 39%;
                width: 180px;
            }
            &__block {
                padding: 190px 0 0;
            }
            &__title {
                font-size: 32px;
                margin: 0 0 15px;
            }
            &__text {
                margin: 0 0 95px;
            }
            &__video {

                &-img {
                    width: 210px;
                }
                &-btn {
                    right: -100px;
                }
            }
            &__score {
                height: 80px;
                bottom: 80px;
                right: 35px;
            }
        }
    }
}