.date {
    position: relative;

    &__title {
        font-size: 33px;
        letter-spacing: .3em;
        text-transform: uppercase;
        color: $color-yellow;
        line-height: 37px;
    }
    &__num {
        -webkit-text-stroke: 1px $color-yellow;
        text-stroke: 1px $color-yellow;

        font-weight: 800;
        font-size: 70px;
        color: $color-transparent;
        height: 214px;
        width: 214px;
        border: 1px solid $color-yellow;
        border-radius: 50%;
        position: absolute;
        top: -5px;
        left: -8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__mounth {
        -webkit-text-stroke: 1px $color-yellow;
        text-stroke: 1px $color-yellow;

        font-weight: 800;
        font-size: 54px;
        letter-spacing: .02em;
        text-transform: uppercase;
        color: $color-transparent;
        position: absolute;
        top: 57px;
        left: 217px;
    }

    &_white &__title {
        color: $color-white;
    }
    &_white &__num,
    &_white &__mounth {
        -webkit-text-stroke: 1px $color-white;
        text-stroke: 1px $color-white;
    }
    &_white &__num {
        border: 1px solid $color-white;
    }

    &_black &__title {
        color: $color-black;
    }
    &_black &__num,
    &_black &__mounth {
        -webkit-text-stroke: 1px $color-black;
        text-stroke: 1px $color-black;
    }
    &_black &__num {
        border: 1px solid $color-black;
    }

    @include media-breakpoint-only(xs)
    {
        &__title {
            font-size: 25px;
            letter-spacing: 0.4em;
            line-height: 1;
        }
        &__num {
            font-size: 30px;
            height: 109px;
            width: 109px;
            top: 30px;
            left: -6px;
        }
        &__mounth {
            font-size: 29px;
            letter-spacing: 0.06em;
            top: 64px;
            left: 111px;
        }
    }
}