<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Суперсерия-72</title>
        <meta name="theme-color" content="#262626">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

        <meta property="og:description" content="Суперсерия-72 - восемь игр, которые потрясли хоккейный мир. 50-летие одного из самых значимых событий в истории спорта." />
        <meta property="og:url" content="https://summitseries72.fhr.ru" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="Суперсерия-72" />
        <meta property="og:image" content="local/img/share.jpg" />

        <link rel="stylesheet" href="local/styles/main.css">
    </head>
    <body>
        <div class="wrapper">
            @@include("../blocks/modules/header/header.html")
            <main class="work-block">
                @@include("../blocks/modules/block1/block1.html")
                @@include("../blocks/modules/block2/block2.html")
                @@include("../blocks/modules/block3/block3.html")
                @@include("../blocks/modules/block4/block4.html")
                @@include("../blocks/modules/block5/block5.html")
                @@include("../blocks/modules/block6/block6.html")
                @@include("../blocks/modules/block7/block7.html")
                @@include("../blocks/modules/block8/block8.html")
                @@include("../blocks/modules/block9/block9.html")
                @@include("../blocks/modules/block10/block10.html")
                @@include("../blocks/modules/block11/block11.html")
                @@include("../blocks/modules/block12/block12.html")
                @@include("../blocks/modules/block13/block13.html")
                @@include("../blocks/modules/block14/block14.html")
                @@include("../blocks/modules/block15/block15.html")
                @@include("../blocks/modules/block16/block16.html")
                @@include("../blocks/modules/block17/block17.html")
                @@include("../blocks/modules/block18/block18.html")
                @@include("../blocks/modules/block19/block19.html")
                @@include("../blocks/modules/block20/block20.html")
            </main>
            @@include("../blocks/modules/footer/footer.html")
        </div>
        <script src="local/js/vendor.js"></script>
        <script src="local/js/main.js"></script>
    </body>
</html>