.block14 {
    margin: 0 0 250px;
    position: relative;

    &__bg {
        background: url(../img/block14/bg.webp) no-repeat center / cover;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .not-use-webp &__bg {
        background-image: url(../img/block14/bg.png);
    }

    &__inner {
        position: relative;
        padding: 165px 0 120px;
    }
    &__text {
        margin: 114px 0 46px;
        letter-spacing: .01em;
        color: $color-white;
        max-width: 720px;
        position: relative;
    }
    &__title {
        font-size: 47px;
        line-height: 1;
        letter-spacing: .05em;
        text-transform: uppercase;
        margin: 0 0 12px;
    }
    &__score {
        position: absolute;
        bottom: 33px;
        right: 50%;
        margin: 0 -125px 0 0;
    }
    &__img1 {
        position: absolute;
        right: 20px;
        top: 245px;
    }
    &__img2 {
        position: absolute;
        bottom: -108px;
        right: 55px;
    }

    @include media-breakpoint-only(lg)
    {
        & {
            margin: 0 0 165px;

            &__inner {
                padding: 155px 35px 115px;
            }
            &__text {
                max-width: 520px;
            }
            &__img1 {
                right: 45px;
                top: 410px;
                width: 270px;
            }
            &__img2 {
                bottom: -75px;
                width: 240px;
            }
        }
    }
    @include media-breakpoint-between(sm, md)
    {
        &__inner {
            padding: 100px 0;
        }
        &__img1 {
            display: none;
        }
        &__img2 {
            right: 50%;
            max-width: 200px;
        }
        &__score {
            right: 0;
            bottom: 35px;
            margin: 0;
        }
    }
    @include media-breakpoint-only(xs)
    {
        & {
            background-size: auto 375px;
            background-position: center top;
            margin: 0 0 105px;

            &__inner {
                padding: 230px 15px 0;
            }
            &__text {
                margin: 130px 0 30px;
            }
            &__title {
                font-size: 32px;
            }
            &__img1 {
                position: static;
                margin: 0 0 0 105px;
                width: 195px;
                display: block;
            }
            &__img2 {
                position: static;
                width: 130px;
                margin: -85px 0 54px 25px;
                display: block;
            }
            &__score {
                right: 18px;
                bottom: -33px;
                height: 86px;
                margin: 0;
            }
        }
    }
}