.block5 {
    position: relative;

    &:after {
        content: "";
        height: 380px;
        background: linear-gradient(180deg, $color-transparent 0%, $color-black 100%);
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 2;
    }
    &__bg {
        background-image: url(../img/block5/bg.webp);
        height: 1020px;
        background-repeat: no-repeat;
        background-size: cover;
        mix-blend-mode: soft-light;
        position: relative;
        z-index: 1;
    }
    .not-use-webp &__bg {
        background-image: url(../img/block5/bg.png);
    }
    &__glob {
        position: absolute;
        left: 50%;
        margin: 0 0 0 -585px;
        z-index: 4;
        top: 116px;
    }
    &__img1 {
        position: absolute;
        right: 50%;
        top: 315px;
        margin: 0 -370px 0 0;
        z-index: 3;
    }
    &__img2 {
        position: absolute;
        top: 432px;
        right: 50%;
        margin: 0 -617px 0 0;
        z-index: 4;
    }

    @include media-breakpoint-only(lg)
    {
        &__bg {
            height: 895px;
        }
        &__glob {
            height: 385px;
            margin: 0 0 0 -434px;
            top: 119px;
        }
        &__img1 {
            height: 434px;
            top: 269px;
            margin: 0 -243px 0 0;
        }
        &__img2 {
            top: 357px;
            height: 420px;
            margin: 0 -436px 0 0;
        }
    }
    @include media-breakpoint-between(sm, md)
    {
        &__glob {
            height: 250px;
            margin: 0 0 0 -125px;
            top: 70px;
        }
        &__img1 {
            height: 300px;
            top: 360px;
            margin: 0 -80px 0 0;
        }
        &__img2 {
            height: 300px;
            top: 430px;
            margin: 0 -220px 0 0;
        }
    }
    @include media-breakpoint-only(xs)
    {
        &__bg {
            height: 675px;
        }
        &__glob {
            height: 250px;
            margin: 0 0 0 -133px;
            top: 100px;
        }
        &__img1 {
            height: 285px;
            top: 348px;
            margin: 0 -50px 0 0;
        }
        &__img2 {
            height: 275px;
            top: 405px;
            margin: 0 -182px 0 0;
        }
    }
}