.block9 {
    background: #262626 url(../img/block9/bg.webp) no-repeat top right;
    position: relative;

    .not-use-webp & {
        background-image: url(../img/block9/bg.png);
    }

    &__inner {
        position: relative;
        padding: 72px 0 0;
    }
    &__text {
        padding: 90px 0 38px;
        max-width: 704px;
        letter-spacing: .01em;
        color: $color-gray;
    }
    &__title {
        font-size: 47px;
        letter-spacing: .05em;
        color: $color-yellow;
        text-transform: uppercase;
    }
    &__video {
        position: relative;
        display: inline-block;

        &-img {
            display: block;
        }
        &-btn {
            position: absolute;
            top: 0;
            right: -80px;
        }
    }
    &__score {
        position: absolute;
        bottom: 48px;
        left: 50%;
        margin: 0 0 0 17px;
    }
    &__img {
        position: absolute;
        top: -170px;
        right: 140px;
    }

    @include media-breakpoint-only(lg)
    {
        & {
            background-size: auto 550px;

            &__inner {
                padding: 34px 0 0 38px;
            }
            &__text {
                max-width: 530px;
                padding: 90px 0 30px;
            }
            &__score {
                margin: 0 0 0 96px;
            }
            &__img {
                top: -163px;
                right: 56px;
                width: 304px;
            }
        }
    }
    @include media-breakpoint-between(sm, md)
    {
        & {
            background: none;

            &__img {
                top: -100px;
                right: 50px;
                height: 200px;
            }
            &__score {
                bottom: 0;
                left: auto;
                right: 0;
            }
        }
    }
    @include media-breakpoint-only(xs)
    {
        & {
            background: none;

            .not-use-webp & {
                background: none;
            }

            &__img {
                top: -85px;
                right: -30px;
                height: 200px;
            }
            &__inner {
                padding: 110px 15px 0;
            }
            &__text {
                padding: 80px 0 35px;
            }
            &__title {
                font-size: 32px;
                max-width: 150px;
                line-height: 1;
                margin: 0 0 12px;
            }
            &__video {

                &-img {
                    width: 210px;
                }
                &-btn {
                    right: -100px;
                }
            }
            &__score {
                height: 80px;
                bottom: -37px;
                right: 30px;
                left: auto;
            }
        }
    }
}