.block17 {
    border-top: 4px solid $color-red;
    position: relative;
    padding: 100px 0 145px;

    &__img {
        position: absolute;
        top: -200px;
        left: 50%;
        margin: 0 0 0 -88px;
    }
    &__text {
        letter-spacing: .04em;
        text-align: center;
        font-size: 21px;
        text-transform: uppercase;
        line-height: 1.9;
    }

    @include media-breakpoint-only(lg)
    {
        & {
            padding: 88px 46px 90px;

            &__inner {
                margin: 16px 45px 0 365px;
            }
            &__text {
                margin: 0 0 35px;
            }
            &__date {
                top: -180px;
                left: -148px;
            }
            &__score {
                right: -13px;
            }
        }
    }
    @include media-breakpoint-between(sm, md)
    {
        & {
            padding: 100px 0 80px;

            &__text {
                font-size: 18px;
                line-height: 1.6;
            }
        }
    }
    @include media-breakpoint-only(xs)
    {
        & {
            padding: 80px 10px 123px;

            &__img {
                top: -170px;
                margin: 0 0 0 -73px;
                height: 226px;
            }
            &__text {
                font-size: 14px;
                line-height: 29px;
                letter-spacing: .02em;
            }
        }
    }
}